* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(94, 93, 93, 0.2);
}

.logo img {
    width: 175px;
}

.nav-items ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-items ul li {
    list-style-type: none;
    margin: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    border: 1px solid black;
    padding: 5px 10px;
}

.res-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    padding: 15px;
    margin: 30px 15px;
}

.res-card:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.res-card-img {
    max-width: 100%;
}

.filter {
    display: flex;
    justify-content: flex-end;
}

.filter button {
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.shimmer-cotainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 250px;
    height: 300px;
    padding: 15px;
    margin: 30px 15px;
    background-color: #eee;
}

.user-card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}